<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Agregar Nueva Playa</h1>
      <!-- ¿Os acordáis que los form pueden tener cabeceras? Ahora veréis para qué sirven :) La cabecera nos conecta directamente con el back. -->
      <form action="/agregar_playa" method="post">
        <label for="nombre">Nombre de la Playa:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="ubicacion">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion" required />

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>

        <button type="submit">Agregar Playa</button>
      </form>

    </div>
    <div class="container">
        <h1>Mis Películas</h1>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Año</th>
                        <th>Género</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pulp Fiction</td>
                        <td>1994</td>
                        <td>Drama</td>
                        <td>9.2</td>
                    </tr>
                    <tr>
                        <td>The Godfather</td>
                        <td>1972</td>
                        <td>Drama</td>
                        <td>9.0</td>
                    </tr>
                    <tr>
                        <td>Eternal Sunshine of the Spotless Mind</td>
                        <td>2004</td>
                        <td>Drama</td>
                        <td>8.9</td>
                    </tr>
                    <tr>
                        <td>Casablanca</td>
                        <td>1942</td>
                        <td>Drama</td>
                        <td>8.8</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>
